#include <zephyr/dt-bindings/i2c/i2c.h>
#include <zephyr/dt-bindings/gpio/gpio.h>

&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            pinmux = <I2C0_SDA_GPIO13>,
                     <I2C0_SCL_GPIO14>;
            bias-pull-up;
            drive-open-drain;
        };
    };
};

&i2c0 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;

    pinctrl-0 = <&i2c0_default>;
    pinctrl-names = "default";

    bq24295: charger@6b {
        compatible = "ti,bq24295";
        reg = <0x6b>;

        status = "okay";

        /* Required by binding */
        constant-charge-current-max-microamp = <512000>;
        constant-charge-voltage-max-microvolt = <4208000>;

        watchdog-timeout-ms = <0>;

        ce-gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
    };
};

